############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
*.pem
Icon
.Spotlight-V100
.Trashes
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

############################
# Linux
############################

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

############################
# Windows
############################

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.stackdump

############################
# VSCode
############################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.vscode-test

############################
# Node, NPM, Popular
############################

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
lcov.info
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
results
node_modules/
.node_history
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.env
.env*.local
.cache
.parcel-cache
.next
/.next/
/out/
out
.vercel
.nuxt
dist
.cache/
.vuepress/dist
.temp
.cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
